<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="{{ site.github.repository_url }}">View me on GitHub</a>
  </div>
</div>

<header>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{ site.data.projects.[site.project].name }}</h1>
      <p>{{ site.data.projects.[site.project].description }}</p>
      <p>
        <a class="btn btn-default" href="{{ site.github.repository_url }}/archive/{{ site.github.releases[0].tag_name }}.zip" role="button">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download
        </a>
      </p>
    </div>
  </div>
</header>
